.aqi-hide:not(.aqi-hide-exception) * {
	max-height:0px !important;
}

.aqi-hide:not(.aqi-hide-exception){
	/*-webkit-filter: opacity(100%);*/
	visibility: hidden !important;
	pointer-events: none !important;
	line-height:0px;
	height:30px;
	max-height:30px !important;
	overflow-y: hidden !important;
	min-height:30px !important;
}

.aqi-hide-completely {
	display:none !important;
}

.aqi-inside {
	position:absolute;
	left:0px !important;
	top:0px !important;
	z-index: 9999 !important;
	display: inline !important;
	/*width: 500px!important;*/
	white-space: nowrap !important;
}
.aqi-arrow-wrapper {
	padding:10px;
	cursor:pointer;
	display:inline-block !important;
	vertical-align: middle;
	line-height:0px;
	cursor:pointer;
}
.aqi-arrow {
	width: 0 !important; 
    height: 0 !important; 
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
  
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    display:inline-block !important;
    /*margin-left:10px;
    margin-right:10px;*/
    vertical-align: middle;
    line-height:0px;
    cursor:pointer;
}

.aqi-notification.aqi-disabled {
	display:none !important;
	/*top:-35px !important;*/
	/*background-color: white;
	border: solid 1px black;*/
}

.aqi-notification.aqi-disabled .aqi-arrow-wrapper {
	/*display:none !important;*/
	/*background-color: white;*/
	/*border: solid 1px black;*/
}

.aqi-notification:not(:hover) .aqi-inside {
	color: rgba(128, 128, 128, 0.2);
}
.aqi-notification:not(:hover) .aqi-options {
	visibility: hidden !important;
}

.aqi-notification .aqi-options {
	display: none !important;
}

.aqi-options {
	/*display:none !important;*/
	background-color: white !important;
	border: solid 1px black !important;
	padding:5px;
	vertical-align: middle;
}

.aqi-options * {
	display: initial !important;
	cursor: pointer;
}

.aqi-options div:hover {
	color:red !important;
}

.aqi-notification {
	position:relative !important;
	font-size: 8pt !important;
	display:inline !important;
}