/*
.censorship-blur, .censorship-blur *{
	color: rgba(0,0,0,0.0) !important;
	text-shadow: 0 0 8px rgba(0,0,0,0.5) !important;
}

::selection{
	color:black !important;
}*/
/*
.censorship-blur:hover, .censorship-blur *:hover{
	color: none !important;
	text-shadow: none !important;
	//background-color: white !important;
	//color: black !important;
	//background-color: black !important;
	//display: none !important;
}*/

.censorship-blur:not(:hover){
	-webkit-filter: blur(3px);
}
/*
.censorship-blur:hover{
	-webkit-filter: none;
}*/

/*.censorship-blur .match{
	-webkit-filter: blur(0px);
}

.match{
	color: red !important;
}*/

/*.censorship-blur::before{
	content: "content censored";
}*/

/*.censorship-blur, .censorship-blur a {
	color: black !important;
	background-color: black !important;
}*/